<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch">
        
    </include>

    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
        
    </include>

    <!-- <node pkg="joy" type="joy_node" name="joy_node"/> -->

    <node pkg="demo3" type="demo3.py" name="demo3" output="screen">
        
    </node>

    <node pkg="smach_viewer" type="smach_viewer.py" name="smach"/>

</launch>